<h1>Show User</h1>

<ul>

  <%= case @user.avatar do %>
    <%= nil -> %>
      <span>...</span>
    <%= _ -> %>
      <%= Routes.static_path(@conn, Division.Avatar.url({@user.avatar, @user}, :thumb)) |> img_tag %>
  <% end %>

  <li>
    <strong>Username:</strong>
    <%= @user.username %>
  </li>

  <li>
    <strong>Password hash:</strong>
    <%= @user.password_hash %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.user_path(@conn, :edit, @user) %></span>
